<div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{asset('images/voiture/o.jpg')}}" class="d-block w-100" alt="Wild Landscape"/>
    </div>
  
  
  </div>
 
  </button>
</div>
