{% extends 'base.html.twig' %}

{% block title %}Hello ServiceGarageController!{% endblock %}

{% block body %}

 <div class="bloc col">
 
        <span>V.</span>
        <span>P</span>
        <span>A</span>
        <span>R</span>
        <span>R</span>
        <span>O</span>
        <span>T</span>
        <span>-</span>
        <span>T</span>
        <span>O</span>
        <span>U</span>
        <span>S</span>
        <span>-</span>
        <span>S</span>
        <span>E</span>
        <span>R</span>
        <span>V</span>
        <span>I</span>
        <span>C</span>
        <span>E</span>
        <span>S</span>
        <div class="ligne"></div>
    </div>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>
   

   

   {% include 'includes/designe.html.twig' %}
{% endblock %}
