{% block body %}
  
    <div class="container">
 
    <div class="d-flex justify-content-center ">
   <img  class="image-accueil "src="{{asset('images/voiture/image1.jpg')}}" > 
  
   <img  class="image-accueil "src="{{asset('images/voiture/meilleure-voiture-occasion-petit-budget--13.jpg')}}" > 

     </div>
    </div>
 
  <div class="d-flex justify-content-center mt-5">
 <a  href="{{path('app_afficher_service_garage')}}" class="btn-pageaccueil mt-1"><h5>Nos Services</h5></a>
 </div>


  <div class="container mt-4"><h1 >Apropos de notre Agence </h1> </div>
 <div class="container mt-3" id="presentaion">
 
 <p class="text-light"> <span class="text-danger ">Garage V.Parrot</span>, c’est l’histoire d’une réussite. Les principes qui nous guident depuis nos modestes débuts se fondent sur le sens de l’intégrité et l’honnêteté de chacun. Nous mettons un point d'honneur à faire vivre les zones et les communautés dans lesquelles nos points de vente sont présents. Nous attachons une grande importance au soin accordé à nos clients, comme s’ils faisaient partie de notre famille. En interne, nous avons à cœur de récompenser nos équipes pour leur investissement dans leur travail au quotidien. Cet engagement reste le même depuis les débuts de l’entreprise fondée en 1970.

Aujourd’hui Enterprise est devenu un fournisseur important sur le marché de la location automobile au niveau international. Nous offrons à nos clients un service complet de locations de tous types de véhicules et utilitaires et sommes présents dans les principaux aéroports, gares et centres-villes. Enterprise appartient au groupe Enterprise Holdings, qui propose une offre complète de solutions de transports et de mobilité. Aujourd’hui plus importante société de location de véhicules au monde, nos clients peuvent compter sur nous partout où ils ont besoin de louer un véhicule. Qu’il s’agisse d’une voiture ou d’un utilitaire, pour une voiture de remplacement, un déplacement professionnel, un week-end ou des vacances, pour un jour, une semaine, un mois ou plus encore !

Nous jouons un rôle actif en matière de développement durable pour que notre activité évolue dans le respect de notre environnement, mais également pour participer à la création d’un monde meilleur pour les générations à venir. Le poids d'Enterprise sur le marché nous permet de contribuer à l’innovation, de faire avancer la recherche et de tester des solutions guidées par les attentes du marché.</p>
 </div>
   <div class="d-flex justify-content-lg-center">
              © 2023 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/"
                 >V.Parrot</a
                >
            </div>


{% endblock %}